body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
/* Estilos para el encabezado con la imagen y el nombre de la distribuidora */


/* Estilos para la imagen */
.imagen {
    margin-right: 10px; /* Espaciado a la derecha de la imagen */
}

/* Estilos para el texto del título */
.titulo {
    margin: 0; /* Elimina el margen predeterminado del encabezado */
}
/* Añade estos estilos para que el formulario respete el diseño del índice */


/* Estilos para el formulario */
.formulario {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 100%; /* Ocupa todo el ancho de la página */
    max-width: 400px; /* Establece un ancho máximo para mantener la legibilidad */
    text-align: center;
    margin: 20px; /* Márgenes para separar el formulario de otros elementos */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Hace el formulario scrollable verticalmente si se desborda */
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input[type="text"],
.form-group input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Espaciado superior para el contenedor de botones */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

button.cancelar {
    background-color: #ff0000;
    margin-right: 10px; /* Espaciado derecho del botón de Cancelar */
}

button:hover {
    background-color: #45a049;
}

button.cancelar:hover {
    background-color: #ff1a1a;
}